*.log
*.pyc
.DS_Store
django_odbc/django_odbc/settings_local.py
django_odbc/turin/templates/turin/images/
django_odbc/django_odbc/egenix*
django_odbc/django_odbc/mxodbc_django*
static/*
django_odbc/turin/management/commands/cache_builder_settings.py
django_odbc/secrets.json
