<table>
	<tr>
		<th>Story ID</th>
		<th>CMS<br>Story ID</th>
		<th>Story Name</th>
		<th>Pageset Name</th>
		<th>Section<br>Letter</th>
		<th>Page<br>Number</th>
		<th>Total<br>Depth</th>
		<th>Author</th>
		<th>Origin</th>
		<th>Subcategory ID</th>
		<th>SEO URL string</th>
	</tr>
{% for storyId, cmsStoryId, storyName, pageSetName, letter, pageNum, totalDepth, author, origin, subcategoryId, seourl, fotolist in list %}
	<tr>
		<td>{{ storyId }}</td><td>{{ cmsStoryId }}</td><td><a href="{{ storyId }}">{{ storyName }}</a></td><td>{{ pageSetName }}</td><td>{{ letter }}</td><td>{{ pageNum }}</td><td>{{ totalDepth }}</td><td>{{ author }}</td><td>{{ origin }}</td><td>{{ subcategoryId }}</td><td>{{ seourl }}</td>
	</tr>
	{% if fotolist %}
	<tr>
		{% for foto in fotolist %}
			<td><img src = "/images/{{ foto }}.jpg"></td>
		{% endfor %}
	</tr>
	{% endif %}
{% endfor %}
</table>