{% extends "turin/base.html" %}

{% block content %}
	<div class="container">
		<h1>Current date: {{ today_status }}</h1>
		<h5>(Possibly cached date: {{ today }})</h5>
		
		<table class="table table-condensed table-responsive">
		{% for result in results %}
			{% ifchanged %}
			<tr class="active">
				<th>DTI story file:</th><th>{{ result.story_slug }}</th>
			</tr>
			{% endifchanged %}
			<tr>
				<td rowspan="3"><img src="http://registerguard.com/csp/cms/sites/custom.rg.img.cls?id={{ result.cms_picture_id }}"></td>
				<td><b>DTI image file:</b> {{ result.image_slug }}</td>
			</tr>
			<tr>
				<td><b>Caption:</b> {{ result.caption }}</td>
			</tr>
			<tr{% if result.image_priority_id = '-' %} class="warning"{% endif %}>
				<td><b>Image Priority:</b> {{ result.image_priority_id }}</td>
			</tr>
		{% endfor %}
		</table>
		
		<hr>
		
		<strong>Raw result</strong>: {{ results }}<br>
		<strong>Story ID list</strong>: {{ story_id_list }}<br>
		<strong>DT_MEDIA_STATUS Settings</strong>: {{ settings }}<br>
		<strong>early_results</strong>: {{ early_results }}<br>
		
	</div> <!-- /.container -->
{% endblock content %}